<div class="container bg-light p-4 m-5">
  <div class="row m-auto">
    <div class="col-7">
      <h1 class="text-center">Cadastrar Funcionarios</h1>
      <form [formGroup]="formGroupFuncionarios">
        <div class="mb-3">
          <label for="nome_funcionario" class="form-label">Nome</label><br>
          <input type="text" class="form-control" id="nome_funcionario" formControlName="nome_funcionario" />
          <small *ngIf="nome_funcionario.hasError('required')" class="text-danger p-1">
            * O nome do funcionario não poder estar vazio. Preencha-o!
          </small>
        </div>
        <div class="mb-3">
          <label for="cargo" class="form-label">Cargo</label><br>
          <input type="text" class="form-control" id="cargo" formControlName="cargo" />
          <small *ngIf="cargo.hasError('required')" class="text-danger p-1">
            * O cargo não poder estar vazio. Preencha-o!
          </small>
        </div>
        <button type="submit"
        [disabled]="!formGroupFuncionarios.valid"
        class="btn btn-primary"
        (click)="save()"
        >
          Salvar
        </button>
        <br><br>
      </form>
    </div>
    <div class="col-5">
      <h2 class="text-center">Funcionarios</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <th scope="row">{{funcionario.id_funcionario}}</th>
            <td>{{funcionario.nome_funcionario}}</td>
            <td>{{funcionario.cargo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
